# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
# /package-lock.json  # Keep package-lock.json for reproducible builds

DEPLOYMENT.md
NGINX_SETUP.md
setup-ssl.sh
TROUBLESHOOTING.md

nginx.conf

/build

# testing
/coverage
/html

# next.js
/.next/
/out/

# production
/build
/storybook-static
/.swc

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# cypress
cypress/videos
cypress/screenshots

# Sentry Config File
.env.sentry-build-plugin
